/*common shsre style*/
body{

    font-family: 'Open Sans', sans-serif;
}

.header{
    width: 1920px;
height: 850px;
flex-shrink: 0;
}
.banner{
    display: flex; 
    background: rgba(229, 84, 115, 0.10); 
    width: 1429px;
    height: 850px;
    align-items: center;
    padding: 50px 240px 0px 240px;
    justify-content: space-between;
   
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    margin-bottom: 0px;
    margin-top: 197px;
}
.banner-description{
    
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 0px;
}
.button-primary{
    
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473; 
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 165px;
    margin-right: 283px;

} 
.banner-img{
    width: 635px;
    height: 800px;
    flex-shrink: 0; 
    margin-top: 50px;   
}

/*Our Featured Flowers section*/
.section{

    
    
}
.section-title{
color: #272727;
text-align: center;


font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-description{
 text-align: center;
 font-size: 18px
 font-weight: 400;
 line-height: 30px
 color: rgba(39, 39, 39, 0.60);
    
}
.section-flowers{
    display: flex;
    justify-content: space-between;
    gap: 24px;;
    margin-bottom: 125px;
}
.flowers1{
    width: 464px;
    height: 538px;
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0px 75px;
    margin-left: 315px;
   
}
.flowers-img1{
    width: 310px;
    height: 428px;
    
   
}
.flowers2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    padding: 117px 45px 117px 45px;
    background: rgba(5, 151, 160, 0.15);


}
.flowers2{
    width: 370px;
    height: 370px;

}
.flowers3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 75px 0px 75px;
    margin-right: 315px;


}
.flowers-img3{
    width: 314px;
    height: 471px;

}
.icon-title{
    display: flex;
    width: 1440px;
    height: 320px;
   text-align: center;
   justify-content: space-evenly;
   border-radius: 8px;
 background: rgba(39, 39, 39, 0.05);
 margin-left: 240px;
 margin-right: 240px;
}
.icon-img{
    width: 88px;
height: 88px;
margin: 85px 215px;
}
/*Hot Deal ! Sale Up To 25% Off section*/
.deal-banner{
    width: 1922px;
    height: 620px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 125px;

}
.deal-banner-title{
    color: #272727;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 230px 0px 0px 420px;
margin-bottom: 0px;

}
.deal-banner-description{
    display: flex;
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 230px 0px 0px 420px;
margin-top: 24px;
}
.deal-button-primary{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0px 400px 0px 420px;
}
.deal-banner-img{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 420px;

}
/*Instagram section*/
.insta-title{

    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 125px;
}
.insta-description{
    display: flex;
    width: 594px;
   
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 663px;
    margin-bottom: 0px;

}
.insta-img-section{
    display: flex;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    gap: 24px;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
    margin-bottom: 0px;
}